html, body{
  height: 100%;
  width: 100%;
}
.page-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/79-80.jpg.png',sizingMethod='scale');
}
.music {
  position: absolute;
  right: px2rem(20);
  top: px2rem(26);
  width: px2rem(60);
  height: px2rem(62);
  background: url(../img/music-on.png) no-repeat center;
  background-size: 100%;
  cursor: pointer;
  animation: music 3s linear infinite;
}
@keyframes music {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.head {
  position: relative;
  height: 110px;
  background-size: 85%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-img {
  position: relative;
  width: 340px;
  height: 100px;
  background-image: url(../img/time1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.stage-1, .stage-2, .stage-3, .stage-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15px;
  width: 65px;
  height: 60px;
  overflow: hidden;
  &-img {
    position: relative;
    img {
      display: inline-block;
      width: 65px;
      height: 60px;
    }
  }
}
.stage-1 {
  left: 15px;
}
.stage-2 {
  left: 96px;
}
.stage-3 {
  left: 178px;
}
.stage-4 {
  left: 259px;
}
.body {
  text-align: center;
  height: 100%;
  /* animation-duration: 4s;  */
}
.title {
  animation: body 4s infinite; 
  font-size: px2rem(46);
  font-family: "DIN-BoldItalicAlt";
  font-weight: 900;
  padding: 0 px2rem(40);
}
.class {
  display: none;
}
.show { 
  display: block;
  text-align: center;
  &.nopic {
    border: 4px solid #f8b959;
    padding: 10px;
    margin: 10px;
    margin-top: 100px;
    background: #d51e1d;
  }
}
@keyframes body {
  10% {
    transform: rotate(360deg);
  }
  30% {
    transform: scale(1);
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.con {
  font-size: px2rem(28);
  margin-top: px2rem(40);
  // margin-bottom: px2rem(60);
  line-height: px2rem(40);
  letter-spacing: 0.5px;
  font-weight: 900;
  font-family: "DIN-BoldItalicAlt";
  padding: 0 px2rem(40);
}
.pic {
  height: px2rem(340);
  margin: 0 px2rem(60);
  margin-top: px2rem(60);
  border: 3px solid #f8b959;
  // background-image: url(../img/22.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: 100%;
  img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  &.noborder {
    border: 0;
    height: px2rem(400);
  }
}
.page, .gif {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page {
  background-image: url(../img/79-89_02.png);
  opacity: 0;
}
.gif {
  background-image: url(../img/start.jpg);
  .clock {
    width: px2rem(380);
    height: 70%;
    background: url(../img/clock.gif) no-repeat center;
    background-size: 100%;
    margin: auto;
    margin-top: px2rem(60);
  }
  .tip {
    font-size: px2rem(30);
    color: #aa8675;
    letter-spacing: 3px;
    margin-top: px2rem(40);
    // margin-top: px2rem(-90);
  }
}
